.input {
  height: 48px;
  width: 100%;
  padding-left: 16px;
  
  background-color: $color-input-background;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  border: 2px solid transparent;
  border-radius: 8px;

  cursor: text;

  &::placeholder {
    color: $color-placeholder;
  }

  &:hover {
    border-color: $color-lite-grey;
  }

  &:focus {
    border-color: $color-blue;
  }
}
