.link {
  text-decoration: none;
  font-weight: 700;

  &--blue {
    color: $color-blue;
  }
  
  &--grey {
    color: $color-grey;
  }
  
  &--white {
    color: $color-wite;
  }

  &--aft-hov-blue {
    @include link-after-hover ($color-blue);
  }

  &--aft-hov-white {
    @include link-after-hover ($color-wite);
  }
}
