.menu {
  background-color: $color-blue;

  transition: transform 0.3s;
  transform: translateX(-100%);

  &:target {
    transform: translateX(0);
  }
  

  &__content {
    @include flex (column);
    gap: 48px;
  }

  &__link {
    display: block;
    font-weight: 700;
    color: $color-wite;
  }
}
