.testimonials {

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    @include onMobile {
      margin-bottom: 52px;
    }
  }

  &__container {
    position: relative;
    @include flex-gap (24px);

    justify-content: space-between;
    
    @include onMobile {
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 48px;
    }
  }
}
