.tooltip {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-right: 20px;

  @extend %number-phone-style;
  color: $color-wite;

  display: none;
  opacity: 0;
  transition: opacity 3s;
}
